# Set up:

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import time

# df7:

In [2]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_1%2Cpetrol_eq_cng")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])
    
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" ")[3])
    
    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(loc),
len(price))

440 440 440 440 440 440

In [3]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="CNG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="First"
    owner.append(i)
    
print(len(fuel),len(owner))

440 440

In [4]:
df7=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
df7

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Hyundai,"[Grand, i10]",2016,"54,000",CNG,First,Shastri Nagar,"4,85,000"
1,Maruti,"[Suzuki, Celerio-X]",2018,"38,000",CNG,First,Nikol - Naroda Road,"5,25,000"
2,Maruti,"[Suzuki, Swift]",2008,70000.0,CNG,First,Dhyan Chand Sports Colony,"95,000"
3,Maruti,"[Suzuki, Swift-Dzire]",2019,"140,000",CNG,First,Ambernath,"5,50,000"
4,Maruti,"[Suzuki, Swift-Dzire]",2022,"30,000",CNG,First,MMTC Colony,"7,99,999"
...,...,...,...,...,...,...,...,...
435,Maruti,"[Suzuki, Celerio]",2015,72000.0,CNG,First,Raj Nagar Extension,"3,55,000"
436,Maruti,"[Suzuki, Alto, K10]",2011,58000.0,CNG,First,Karol Bagh,"1,75,000"
437,Maruti,"[Suzuki, Baleno]",2019,"40,000",CNG,First,Preet Vihar,"6,75,000"
438,Maruti,"[Suzuki, Alto-800]",2013,"79,500",CNG,First,Ravet,"2,51,000"
439,Maruti,"[Suzuki, Celerio]",2018,"22,650",CNG,First,Vashi,"5,25,000"

In [5]:
driver.close()

# df8:

In [28]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_2%2Cpetrol_eq_cng")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])

    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(loc),
len(price))

435 435 435 435 435

In [27]:
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    driven_km.append(i.text.split("-")[1:3])
print(driven_km,len(driven_km))

[[' 50,000 km'], [' 56,000 km'], [' 78,000 km'], [' 90,000 km'], [' 140,000 km'], [' 124,000 km'], [' 65000.0 km'], [' 65000.0 km'], [' 50000.0 km'], [' 28,000 km'], [' 63,000 km'], [' 97,000 km'], [' 111,000 km'], [' 72,000 km'], [' 80,700 km'], [' 84,000 km'], [' 65,000 km'], [' 52000.0 km'], [' 65000.0 km'], [' 80000.0 km'], [' 65,000 km'], [' 86,500 km'], [' 50,000 km'], [' 70,000 km'], [' 60,000 km'], [' 70,000 km'], [' 198,000 km'], [' 75765.0 km'], [' 74000.0 km'], [' 90,000 km'], [' 62,000 km'], [' 58300.0 km'], [' 94,000 km'], [' 97,000 km'], [' 43000.0 km'], [' 69,000 km'], [' 51,000 km'], [' 47000.0 km'], [' 85000.0 km'], [' 75438.0 km'], [' 72,000 km'], [' 82,000 km'], [' 70,000 km'], [' 90,000 km'], [' 90,286 km'], [' 60,000 km'], [' 79,000 km'], [' 55000.0 km'], [' 77,271 km'], [' 72,000 km'], [' 64000.0 km'], [' 50000.0 km'], [' 166,290 km'], [' 86,000 km'], [' 53,000 km'], [' 51,000 km'], [' 61000.0 km'], [' 60,000 km'], [' 90,000 km'], [' 73,000 km'], [' 70000.0 km'], [' 75,000 km'], [' 120,000 km'], [' 20,000 km'], [' 107,000 km'], [' 78,000 km'], [' 66,000 km'], [' 68,000 km'], [' 65,000 km'], [' 63,000 km'], [' 64000.0 km'], [' 76,000 km'], [' 61,000 km'], [' 68000.0 km'], [' 1 km'], [' 90,000 km'], [' 72,000 km'], [' 200,000 km'], [' 62,000 km'], [' 96,000 km'], [' 90,000 km'], [' 85000.0 km'], [' 87000.0 km'], [' 120,000 km'], [' 70,000 km'], [' 77000.0 km'], [' 65,000 km'], [' 220,000 km'], [' 75,000 km'], [' 65000.0 km'], [' 74,000 km'], [' 77,000 km'], [' 84000.0 km'], [' 95,000 km'], [' 90,000 km'], [' 85,000 km'], [], [' 58,500 km'], [' 70,137 km'], [' 65,000 km'], [' 84,000 km'], [' 70,000 km'], [' 120,000 km'], [' 80000.0 km'], [' 99000.0 km'], [' 51,000 km'], [' 60,000 km'], [' 75 km'], [' 96,700 km'], [' 52,000 km'], [' 75,000 km'], [' 49,000 km'], [' 105,008 km'], [' 75000.0 km'], [' 80000.0 km'], [' 82,000 km'], [' 84000.0 km'], [' 111,000 km'], [' 74000.0 km'], [' 105,000 km'], [' 120,000 km'], [' 70,000 km'], [' 95000.0 km'], [' 70,000 km'], [' 89,300 km'], [' 76,000 km'], [' 75,000 km'], [' 91,000 km'], [' 52,000 km'], [' 79000.0 km'], [' 65,000 km'], [' 75000.0 km'], [' 79,735 km'], [' 54,685 km'], [' 68,000 km'], [' 114,000 km'], [' 69000.0 km'], [' 72,000 km'], [' 55000.0 km'], [' 89,000 km'], [' 10,000 km'], [' 140,000 km'], [' 95,000 km'], [' 96,000 km'], [' 75,000 km'], [' 70,000 km'], [' 156,200 km'], [' 250,000 km'], [' 68,000 km'], [' 82,000 km'], [' 82,000 km'], [' 75,690 km'], [' 98000.0 km'], [' 82000.0 km'], [' 72,000 km'], [' 70,000 km'], [' 69,000 km'], [' 58,000 km'], [' 56,808 km'], [' 67,000 km'], [' 90,000 km'], [' 70,000 km'], [' 67,000 km'], [' 49,420 km'], [' 43000.0 km'], [' 50000.0 km'], [' 72,000 km'], [' 164,000 km'], [' 116,000 km'], [' 95,000 km'], [' 68000.0 km'], [' 83000.0 km'], [' 70,865 km'], [' 74500.0 km'], [' 73000.0 km'], [' 70,000 km'], [' 52,521 km'], [' 95,000 km'], [' 26,500 km'], [' 63,933 km'], [' 120,000 km'], [' 40,000 km'], [' 55,709 km'], [' 80000.0 km'], [' 72000.0 km'], [' 82000.0 km'], [' 63,488 km'], [' 68000.0 km'], [' 60000.0 km'], [' 60000.0 km'], [' 22 km'], [' 68,200 km'], [' 40123.0 km'], [' 95300.0 km'], [' 53,000 km'], [' 67,000 km'], [' 72000.0 km'], [' 59,132 km'], [' 90,000 km'], [' 90,000 km'], [' 90,000 km'], [' 120,000 km'], [' 46000.0 km'], [' 170 km'], [' 73,817 km'], [' 49,000 km'], [' 30,000 km'], [' 52134.0 km'], [' 76000.0 km'], [' 68,000 km'], [' 74000.0 km'], [' 68,000 km'], [' 32200.0 km'], [' 107,000 km'], [' 60,000 km'], [' 120,000 km'], [' 67,000 km'], [' 22,000 km'], [' 49000.0 km'], [' 86,500 km'], [' 90,000 km'], [' 90,000 km'], [' 90,000 km'], [' 65,000 km'], [' 34,000 km'], [' 28,000 km'], [' 66000.0 km'], [' 55,820 km'], [' 91,000 km'], [' 80,546 km'], [' 82,404 km'], [' 64000.0 km'], [' 75,000 km'], [' 98,563 km'], [' 131,000 km'], [' 24,585 km'], [' 60,300 km'], [' 125,281 km'], [' 75,000 km'], [' 60,000 km'], [' 90,000 km'], [' 90,000 km'], [' 53,000 km'], [' 70000.0 km'], [' 52123.0 km'], [' 65,000 km'], [' 90,000 km'], [' 72,000 km'], [' 61000.0 km'], [' 43,000 km'], [' 81,500 km'], [' 68,000 km'], [' 197853.0 km'], [' 79,770 km'], [' 50000.0 km'], [' 98,000 km'], [' 76,000 km'], [' 57,236 km'], [' 67,300 km'], [' 72,100 km'], [' 92,000 km'], [' 70,000 km'], [' 65000.0 km'], [' 111,000 km'], [' 96521.0 km'], [' 82000.0 km'], [' 72000.0 km'], [' 81,500 km'], [' 59000.0 km'], [' 100805.0 km'], [' 89000.0 km'], [' 83000.0 km'], [' 50,000 km'], [' 58000.0 km'], [' 164,000 km'], [' 60,300 km'], [' 35,000 km'], [' 83000.0 km'], [' 70,000 km'], [' 41,645 km'], [' 50,000 km'], [' 90,000 km'], [' 145,000 km'], [' 71256.0 km'], [' 65,000 km'], [' 67000.0 km'], [' 71000.0 km'], [' 75000.0 km'], [' 50000.0 km'], [' 100,000 km'], [' 100,000 km'], [' 60,000 km'], [' 65,000 km'], [' 44000.0 km'], [' 62,000 km'], [' 86325.0 km'], [' 65000.0 km'], [' 32,000 km'], [' 72896.0 km'], [' 65000.0 km'], [' 20,000 km'], [' 82,300 km'], [' 31,000 km'], [' 65,234 km'], [' 52,321 km'], [' 77000.0 km'], [' 100,000 km'], [' 80,000 km'], [' 75,000 km'], [' 3,400 km'], [' 52,000 km'], [' 108,500 km'], [' 89,000 km'], [' 38,000 km'], [' 64,213 km'], [' 84,000 km'], [' 89,500 km'], [' 74,500 km'], [' 69,865 km'], [' 66000.0 km'], [' 50,000 km'], [' 90,000 km'], [' 50,000 km'], [' 95,000 km'], [' 85000.0 km'], [' 95,648 km'], [' 79000.0 km'], [' 97,866 km'], [' 90,000 km'], [' 74000.0 km'], [' 88,000 km'], [' 78000.0 km'], [' 75,000 km'], [' 85,000 km'], [' 60000.0 km'], [' 106,121 km'], [' 80,000 km'], [' 90,000 km'], [' 70000.0 km'], [' 12500.0 km'], [' 120,000 km'], [' 50,000 km'], [' 96,000 km'], [' 72,583 km'], [' 95,000 km'], [' 54826.0 km'], [' 51000.0 km'], [' 73,000 km'], [' 90000.0 km'], [' 66000.0 km'], [' 57000.0 km'], [' 65000.0 km'], [' 55000.0 km'], [' 68,000 km'], [' 51,000 km'], [' 82,400 km'], [' 102,500 km'], [' 53,400 km'], [' 40,400 km'], [' 75000.0 km'], [' 10,000 km'], [' 40,000 km'], [' 26 km'], [' 68000.0 km'], [' 72000.0 km'], [' 59000.0 km'], [' 63000.0 km'], [' 82000.0 km'], [' 72000.0 km'], [' 75,000 km'], [' 97,000 km'], [' 60,000 km'], [' 58,200 km'], [' 12,000 km'], [' 85,000 km'], [' 82,000 km'], [' 78000.0 km'], [' 65,000 km'], [' 43,000 km'], [' 75,000 km'], [' 90,000 km'], [' 90,000 km'], [' 73,000 km'], [' 87,000 km'], [' 85,000 km'], [' 69,000 km'], [' 55,000 km'], [' 75,000 km'], [' 85,000 km'], [' 65000.0 km'], [' 75,000 km'], [' 82,000 km'], [' 87000.0 km'], [' 65,000 km'], [' 22,000 km'], [' 74000.0 km'], [' 78,786 km'], [' 69800.0 km'], [' 85700.0 km'], [' 75,000 km'], [' 50,000 km'], [' 130,000 km'], [' 80,000 km'], [' 114,704 km'], [' 58,000 km'], [' 45,480 km'], [' 62000.0 km'], [' 95,000 km'], [' 62,000 km'], [' 62,587 km'], [' 65000.0 km'], [' 88,000 km'], [' 72,545 km'], [' 120,000 km'], [' 60000.0 km'], [' 86,000 km'], [' 86,000 km'], [' 81,000 km'], [' 75,000 km'], [' 94,000 km'], [' 10,000 km'], [' 200,000 km'], [' 65,000 km'], [' 72,000 km'], [' 53000.0 km'], [' 3,000 km'], [' 63,000 km'], [' 79000.0 km'], [' 66000.0 km'], [' 64,000 km'], [' 80,000 km'], [' 71,000 km'], [' 55,000 km'], [' 85,000 km'], [' 41,000 km'], [' 65000.0 km'], [' 126,000 km']] 437

In [23]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="CNG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="Sceond"
    owner.append(i)
    
print(len(fuel),len(owner))

440 440

In [24]:
df8=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
df8

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Maruti,"[Suzuki, Swift, Dzire]",2011,[ 72531.0 km],CNG,Sceond,Vadsar,"2,65,999"
1,Hyundai,"[Elite, i20]",2016,"[ 69,000 km]",CNG,Sceond,Old Palasiya,"6,50,000"
2,Maruti,"[Suzuki, Wagon-R-1-0]",2015,"[ 65,000 km]",CNG,Sceond,Halol - Vadodara Rd,"3,50,000"
3,Maruti,"[Suzuki, Zen-Estilo]",2012,"[ 50,000 km]",CNG,Sceond,Mayur Vihar Phase 1,"76,000"
4,Hyundai,"[Santro, Xing]",2013,"[ 70,000 km]",CNG,Sceond,Raj Market,"2,05,000"
...,...,...,...,...,...,...,...,...
435,Chevrolet,[Enjoy],2013,[ 50000.0 km],CNG,Sceond,Byculla,"3,49,000"
436,Maruti,"[Suzuki, SX4]",2012,[ 88000.0 km],CNG,Sceond,Cadbury Junction,"3,45,000"
437,Maruti,"[Suzuki, Eeco]",2012,"[ 167,000 km]",CNG,Sceond,Tadbun,"1,10,000"
438,Maruti,"[Suzuki, Wagon-R]",2007,"[ 69,000 km]",CNG,Sceond,New Ranip,"2,00,000"
439,Skoda,[Superb],2012,"[ 73,000 km]",CNG,Sceond,Sector 31,"4,50,000"

In [9]:
driver.close()

# df9:

In [14]:
chrome_path = r"C:\Users\Prashant Pathak\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_path)
driver.implicitly_wait(1)



driver.maximize_window()

driver.get("https://www.olx.in/cars_c84?filter=first_owner_eq_3%2Cpetrol_eq_cng")


for i in range(10):
    driver.execute_script("window.scrollBy(0, 300)")
    driver.find_element(By.XPATH,'//div[@class="_38O09"]').click()
    time.sleep(3)


# Brand Name:
brand=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    brand.append(i.text.split(" ")[0])
    
    

# Model name with Variant:
model_var=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2Gr10"]')
for i in dt:
    model_var.append(i.text.split(" ")[1:])
    
    
# Manufaturing Year:    
year=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_21gnE"]')
for i in dt:
    year.append(i.text.split(" ")[0])
    
# Driven KilometerS:    
driven_km=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    driven_km.append(i.text.split(" ")[3:4])
    
    
    
# Locetion:
loc=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_3VRSm"]')
for i in dt:
    loc.append(i.text.split("\n")[0])  


    
# Price:
price=[]
dt=driver.find_elements(By.XPATH,'//div[@class="_2v8Tq"]')
for i in dt:
    price.append((i.text.split("\n")[0]).split(" ")[1])
    
    
    
print(len(brand),
len(model_var),
len(year),
len(driven_km),
len(loc),
len(price))

440 440 440 440 440 440

In [15]:
#Fuel Type:    (manualCheck)
fuel=[]
for i in range(440):
    i="CNG"
    fuel.append(i)
    

# Number of owner: (manualCheck)
owner=[]
for i in range(440):
    i="Third"
    owner.append(i)
    
print(len(fuel),len(owner))

440 440

In [16]:
df9=pd.DataFrame({"Brand":brand,"Model with Variant":model_var,"Manufacturing Year":year,"Driven KM":driven_km,"Fuel Type":fuel,"No. of Owner":owner,"Locetion":loc,"Price":price})
df9

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Maruti,"[Suzuki, Wagon-R]",2015,"[95,500]",CNG,Third,Sector 26,"3,25,000"
1,Maruti,"[Suzuki, Estilo]",2009,[90000.0],CNG,Third,Balitha,"1,65,000"
2,Honda,[City],2009,"[76,500]",CNG,Third,Karelibaugh,"2,65,000"
3,Maruti,"[Suzuki, Ertiga]",2014,"[70,000]",CNG,Third,Vayusenabad,"4,40,000"
4,Chevrolet,[Beat],2010,"[120,000]",CNG,Third,Gulmohre Colony,"85,000"
...,...,...,...,...,...,...,...,...
435,Hyundai,"[Grand, i10, Prime]",2009,"[58,000]",CNG,Third,Adajan,"2,75,000"
436,Renault,[Fluence],2011,"[64,400]",CNG,Third,Varacha,"2,99,000"
437,Honda,[Accord],2008,"[100,000]",CNG,Third,Balkum Pada,"2,75,000"
438,Mahindra,"[KUV, 100]",2016,"[137,851]",CNG,Third,Vishal Nagar,"3,80,000"
439,Maruti,"[Suzuki, 1000]",1995,"[120,000]",CNG,Third,Perantharkadu,"67,000"

In [17]:
driver.close()

In [18]:
df03=pd.concat([df7,df8,df9])
df03

,Brand,Model with Variant,Manufacturing Year,Driven KM,Fuel Type,No. of Owner,Locetion,Price
0,Maruti,"[Suzuki, Alto, 800]",2012,[52000.0],CNG,First,New Rajdhani Enclave,"2,39,999"
1,Maruti,"[Suzuki, Wagon-R-1-0]",2017,"[98,000]",CNG,First,Godoli Naka,"4,80,000"
2,Hyundai,[Aura],2021,"[16,000]",CNG,First,Borivali West,"7,35,000"
3,Maruti,"[Suzuki, Swift-Dzire-Tour]",2017,"[250,000]",CNG,First,Indirapuram,"3,60,000"
4,Hyundai,"[Grand, i10]",2017,[68000.0],CNG,First,Greater Kailash 2,"5,50,000"
...,...,...,...,...,...,...,...,...
435,Hyundai,"[Grand, i10, Prime]",2009,"[58,000]",CNG,Third,Adajan,"2,75,000"
436,Renault,[Fluence],2011,"[64,400]",CNG,Third,Varacha,"2,99,000"
437,Honda,[Accord],2008,"[100,000]",CNG,Third,Balkum Pada,"2,75,000"
438,Mahindra,"[KUV, 100]",2016,"[137,851]",CNG,Third,Vishal Nagar,"3,80,000"
439,Maruti,"[Suzuki, 1000]",1995,"[120,000]",CNG,Third,Perantharkadu,"67,000"

In [19]:
df03.to_csv("df03")