In [1]:
# Imoprting Libreries:
import pandas as pd 
from bs4 import BeautifulSoup
import requests

In [8]:
# Send get request to the webpage server to get the source code of the page:

url1="https://www.cars24.com/buy-used-car?f=fuelType%3Ain%3Apetrol&sort=bestmatch&serveWarrantyCount=true&gaId=884271084.1675791575&storeCityId=2378&pinId=400001"
page1=requests.get(url1)

# See the page1 content:

soup1=BeautifulSoup(page1.content)
brand=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    brand.append(i.text.split(" ")[1])

manufacturing_year=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    manufacturing_year.append(i.text.split(" ")[0])
    
model=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    model.append(i.text.split(" ")[2])
    
driven_km=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    driven_km.append(i.text.split(" ")[0])
    
owner=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    owner.append((i.text.split("km")[1]).split(" ")[0])
    
fuel=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    fuel.append(i.text.split("Owner")[1][:6])
    
rto=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    rto.append(i.text.split("Petrol")[1])
    
loc=[]
for i in soup1.find_all("span",class_="_3DYbK"):
    loc.append(i.text)

price=[]
for i in soup1.find_all("div",class_="_18ToE"):
    price.append(i.text.split("₹")[1])
    
cars_df1=pd.DataFrame({"Brand Name":brand,"Manufacturing Year":manufacturing_year,"Model":model,"Driven KM":driven_km,"Owner":owner,"Fuel Type":fuel,"RTO":rto,"Locetion":loc,"Price":price})
cars_df1

,Brand Name,Manufacturing Year,Model,Driven KM,Owner,Fuel Type,RTO,Locetion,Price
0,HONDA,2017,CITY,"69,850",1st,Petrol,MH-46,"Rupa Renaissance, Navi Mumbai","7,93,000"
1,Renault,2016,Kwid,"75,741",2nd,Petrol,MH-06,"Goregaon, Mumbai","2,93,400"
2,Maruti,2012,Suzuki,"23,271",2nd,Petrol,MH-05,"Rupa Renaissance, Navi Mumbai","1,95,000"
3,Honda,2013,City,"39,192",1st,Petrol,MH-03,"Goregaon, Mumbai","3,75,000"
4,Maruti,2011,Suzuki,"30,221",1st,Petrol,MH-02,"Goregaon, Mumbai","2,65,000"
5,HONDA,2016,JAZZ,"35,207",1st,Petrol,MH-47,"Mulund, Mumbai","4,63,600"
6,Mahindra,2021,Thar,"4,729",1st,Petrol,MH-02,"Goregaon, Mumbai","16,70,000"
7,Maruti,2010,Suzuki,"37,850",1st,Petrol,MH-05,"Mulund, Mumbai","2,33,500"
8,RENAULT,2018,KWID,"31,839",1st,Petrol,MH-46,"Goregaon, Mumbai","3,40,000"
9,Maruti,2019,Suzuki,"23,651",1st,Petrol,MH-47,"Rupa Renaissance, Navi Mumbai","6,26,000"
10,HYUNDAI,2015,I20,"17,920",1st,Petrol,MH-47,"Goregaon, Mumbai","5,25,700"
11,Hyundai,2019,VENUE,"15,371",1st,Petrol,MH-47,"Goregaon, Mumbai","7,46,000"
12,MERCEDES,2011,BENZ,"78,206",2nd,Petrol,MH-43,"Mulund, Mumbai","9,36,000"
13,Skoda,2012,Rapid,"79,083",1st,Petrol,MH-02,"Mulund, Mumbai","3,34,500"
14,Volkswagen,2013,Polo,"26,798",1st,Petrol,MH-48,"Rupa Renaissance, Navi Mumbai","3,84,000"
15,Volkswagen,2013,Polo,"78,276",2nd,Petrol,MH-06,"Mulund, Mumbai","4,27,000"
16,Maruti,2019,Suzuki,"41,636",1st,Petrol,MH-03,"Rupa Renaissance, Navi Mumbai","5,20,000"
17,VOLKSWAGEN,2014,POLO,"83,398",1st,Petrol,MH-43,"Mulund, Mumbai","4,08,000"
18,Hyundai,2011,i10,"63,670",2nd,Petrol,MH-02,"Goregaon, Mumbai","2,20,000"
19,HYUNDAI,2014,I10,"42,792",2nd,Petrol,MH-46,"Rupa Renaissance, Navi Mumbai","2,89,000"

In [54]:
cars_df1.to_csv("cars_df1")

In [ ]:
# Send get request to the webpage server to get the source code of the page:

url2="https://www.cars24.com/buy-used-car?f=listingPrice%3Abw%3A100000%2C3000000&f=make%3A%3D%3Amaruti%3AOR%3Amake%3A%3D%3Ahyundai%3AOR%3Amake%3A%3D%3Ahonda%3AOR%3Amake%3A%3D%3Atata%3AOR%3Amake%3A%3D%3Arenault%3AOR%3Amake%3A%3D%3Akia%3AOR%3Amake%3A%3D%3Atoyota%3AOR%3Amake%3A%3D%3Amahindra%3AOR%3Amake%3A%3D%3Aford%3AOR%3Amake%3A%3D%3Avolkswagen%3AOR%3Amake%3A%3D%3Askoda%3AOR%3Amake%3A%3D%3Adatsun%3AOR%3Amake%3A%3D%3Aaudi&sort=bestmatch&serveWarrantyCount=true&gaId=884271084.1675791575&storeCityId=2&pinId=110001"
page2=requests.get(url1)

# See the page1 content:

soup1=BeautifulSoup(page1.content)
brand=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    brand.append(i.text.split(" ")[1])

manufacturing_year=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    manufacturing_year.append(i.text.split(" ")[0])
    
model=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    model.append(i.text.split(" ")[2])
    
driven_km=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    driven_km.append(i.text.split(" ")[0])
    
owner=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    owner.append((i.text.split("km")[1]).split(" ")[0])
    
fuel=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    fuel.append(i.text.split("Owner")[1][:6])
    
rto=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    rto.append(i.text.split("Petrol" or "Diesel" or "CNG")[1])
    
loc=[]
for i in soup1.find_all("span",class_="_3DYbK"):
    loc.append(i.text)

price=[]
for i in soup1.find_all("div",class_="_18ToE"):
    price.append(i.text.split("₹")[1])
    
cars_df2=pd.DataFrame({"Brand Name":brand,"Manufacturing Year":manufacturing_year,"Model":model,"Driven KM":driven_km,"Owner":owner,"Fuel Type":fuel,"RTO":rto,"Locetion":loc,"Price":price})
cars_df2

## small code:

In [11]:
brand=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    brand.append(i.text.split(" ")[1])
print(brand)

['HYUNDAI', 'KIA', 'KIA', 'Hyundai', 'Renault', 'Hyundai', 'Skoda', 'MARUTI', 'Maruti', 'KIA', 'KIA', 'MARUTI', 'KIA', 'KIA', 'Maruti', 'Maruti', 'MARUTI', 'KIA', 'KIA', 'Maruti']

In [12]:
manufacturing_year=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    manufacturing_year.append(i.text.split(" ")[0])
print(manufacturing_year)

['2010', '2020', '2020', '2019', '2016', '2014', '2021', '2009', '2013', '2020', '2020', '2014', '2020', '2022', '2020', '2011', '2014', '2021', '2019', '2011']

In [14]:
model=[]
for i in soup1.find_all("h2",class_="_2lmIw"):
    model.append(i.text.split(" ")[2])
print(model)

['I10', 'SELTOS', 'SELTOS', 'Grand', 'Kwid', 'SANTRO', 'KUSHAQ', 'SUZUKI', 'Suzuki', 'SONET', 'SELTOS', 'SUZUKI', 'SELTOS', 'CARENS', 'Suzuki', 'Suzuki', 'SUZUKI', 'SELTOS', 'SELTOS', 'Suzuki']

In [47]:
driven_km=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    driven_km.append(i.text.split(" ")[0])
print(driven_km)

['46,523', '6,003', '9,417', '19,964', '16,545', '43,944', '7,182', '26,741', '68,674', '12,461', '10,678', '6,920', '18,469', '3,084', '20,892', '22,754', '21,670', '22,752', '25,750', '82,915']

In [30]:
owner=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    owner.append((i.text.split("km")[1]).split(" ")[0])
print(owner)

['1st', '1st', '1st', '1st', '1st', '1st', '1st', '2nd', '1st', '1st', '1st', '1st', '1st', '1st', '1st', '1st', '1st', '1st', '1st', '1st']

In [41]:
fuel=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    fuel.append(i.text.split("Owner")[1][:6])
print(fuel)

['Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol', 'Petrol']

In [44]:
rto=[]
for i in soup1.find_all("ul",class_="_13yb6"):
    rto.append(i.text.split("Petrol" or "Diesel" or "CNG")[1])
print(rto)

['DL-3C', 'HR-26', 'DL-8C', 'DL-10', 'DL-8C', 'DL-3C', 'DL-8C', 'DL-9C', 'DL-6C', 'DL-10', 'DL-8C', 'DL-3C', 'DL-14', 'UP-11', 'UP-14', 'DL-8C', 'DL-1C', 'HR-51', 'DL-12', 'DL-9C']

In [48]:
cars_df1=pd.DataFrame({"Brand Name":brand,"Manufacturing Year":manufacturing_year,"Model":model,"Driven KM":driven_km,"Owner":owner,"Fuel Type":fuel,"RTO":rto})
cars_df1

   Brand Name Manufacturing Year   Model Driven KM Owner Fuel Type    RTO
0     HYUNDAI               2010     I10    46,523   1st    Petrol  DL-3C
1         KIA               2020  SELTOS     6,003   1st    Petrol  HR-26
2         KIA               2020  SELTOS     9,417   1st    Petrol  DL-8C
3     Hyundai               2019   Grand    19,964   1st    Petrol  DL-10
4     Renault               2016    Kwid    16,545   1st    Petrol  DL-8C
5     Hyundai               2014  SANTRO    43,944   1st    Petrol  DL-3C
6       Skoda               2021  KUSHAQ     7,182   1st    Petrol  DL-8C
7      MARUTI               2009  SUZUKI    26,741   2nd    Petrol  DL-9C
8      Maruti               2013  Suzuki    68,674   1st    Petrol  DL-6C
9         KIA               2020   SONET    12,461   1st    Petrol  DL-10
10        KIA               2020  SELTOS    10,678   1st    Petrol  DL-8C
11     MARUTI               2014  SUZUKI     6,920   1st    Petrol  DL-3C
12        KIA               2020  SELTOS    18,469   1st    Petrol  DL-14
13        KIA               2022  CARENS     3,084   1st    Petrol  UP-11
14     Maruti               2020  Suzuki    20,892   1st    Petrol  UP-14
15     Maruti               2011  Suzuki    22,754   1st    Petrol  DL-8C
16     MARUTI               2014  SUZUKI    21,670   1st    Petrol  DL-1C
17        KIA               2021  SELTOS    22,752   1st    Petrol  HR-51
18        KIA               2019  SELTOS    25,750   1st    Petrol  DL-12
19     Maruti               2011  Suzuki    82,915   1st    Petrol  DL-9C